# Server Configuration
PORT=3000
NODE_ENV=development

# MongoDB
MONGO=""
MONGO2=""
# MongoDB backup
TEST_MONGO=""
TEST_MONGO2=""

# Google
nylasClientId = ''
nylasClientSecret = ''
CLIENT_ID = ''
CLIENT_SECRET = ''
REDIRECT_URI = ''
REFRESH_TOKEN = ''
# Microsoft
MICROSOFT_CLIENT_ID = ''
MICROSOFT_CLIENT_SECRET = ''
MICROSOFT_TENANT_ID = ''
# Yahoo
YAHOO_CLIENT_ID = ''
YAHOO_CLIENT_SECRET = ''

# Production Firebase
FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your-prod-project",...}'
FIREBASE_STORAGE_BUCKET='your-prod-bucket.appspot.com'

# Staging Firebase
STAGING_FIREBASE_SERVICE_ACCOUNT='{"type":"service_account","project_id":"your-staging-project",...}'
STAGING_FIREBASE_STORAGE_BUCKET='your-staging-bucket.appspot.com'

# Stripe
STRIPE_SECRET_KEY = 'sk_live...'
STRIPE_PUBLISHABLE_KEY = 'pk_live_...'
STRIPE_SUBSCRIPTION_65 = ''
STRIPE_SUBSCRIPTION_35 = ''
STRIPE_ONE_TIME_PAYMENTS_20 = ''
STRIPE_ONE_TIME_PAYMENTS_40 = ''
STRIPE_TEST_SECRET_KEY = ''
STRIPE_TEST_PUBLISHABLE_KEY = ''
STRIPE_TEST_ONE_TIME_PAYMENTS_20 = ''
STRIPE_TEST_ONE_TIME_PAYMENTS_40 = ''
STRIPE_TEST_SUBSCRIPTION_65 = ''
STRIPE_WEBHOOK_SECRET='whsec_...'
# PayPal
PAYPAL_CLIENT_ID = ''
PAYPAL_CLIENT_SECRET = ''
# Apple
APPLE_SHARED_SECRET = ''
# CloudConvert
NXT1_CLOUDCONVERT_APIKEY = ''
# AI Services
OPENROUTER_API_KEY = ''
META_VERIFY_TOKEN = ''
SIGHTENGINE_API_USER = ''
SIGHTENGINE_API_SECRET = ''
RUNWAY_API_KEY=''